.app-container
    width: 600px
    margin: 80px auto 0 auto
    display: flex
    align-items: center
    flex-flow: column
    border-radius: 15px
    min-height: 800px
    background-color: #fff0f3
    position: relative
    &::before
        content: ''
        background-image: url(../public/flowers.png)
        position: absolute
        height: 100%
        width: 100%
        background-size: 160%
        opacity: 0.15
        filter: blur(1px)

    .app-header
        width: 500px
        margin-top: 80px
        z-index: 1
    .app-form
        z-index: 1
        width: 500px
        margin-top: 80px
        position: relative
        form
            display: flex
            input
                border: 0
                border-bottom: 4px dashed #ffbbc9
                border-radius: 0
                background-color: transparent
                width: 100%
                font-size: 20px
                padding-right: 30px
                &:focus-visible
                    outline: none
            button
                position: absolute
                right: 0
                background-image: url(../public/triangle.png)
                background-size: cover
                background-repeat: no-repeat
                height: 20px
                width: 20px
                padding: 0
                background-color: transparent
                border: 0
                bottom: 10px

    .list-cover
        display: flex
        flex-flow: column
        justify-content: center
        align-items: center
        margin-top: 40px
        padding: 0

        &-item
            width: 500px
            position: relative
            display: flex
            align-items: center
            margin-bottom: 25px
            input
                margin-right: 10px
                height: 20px
                width: 20px
                background-color: #fff0f3
                accent-color: #ff5376
            span
                border-bottom: 3px dashed #ffbbc9
                width: 100%
                padding-bottom: 2px
                font-size: 18px
            button
                border: 0
                position: absolute
                right: 0
                background: transparent
                font-size: 20px
                padding: 0 0 5px 0
                color: #f9708c
            &__checked
                span
                    text-decoration: line-through
body
    background-color: rgb(230, 253, 255)
    font-family: cursive
